* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

.tiles__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiles {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4px;
    margin: 7em auto;
    padding: .4em;
    /* border: 1px solid #000; */
    background-color: #3662f3;
    

}

.tile__item {
    width: 23%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(3, 3, 3);
    cursor: pointer;
}

.hold {
    opacity: .5;
}

.hovered {
   background-color: #f4f4f4;
   border-style: dashed;
}

.invisible {
    display: none;
}

/* Numbers Pass */

.number__pass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22%;
}

.number__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 2.5em;
}

.number {
    width: 60px;
    height: 90px;
    background-color: #c4c4c4;
    margin-bottom: .5em;
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.number p,

.letter p{
    color:#000;
    font-weight: 700;
}


/* Letter Pass */

.letter__pass {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
   
}

.letter__list {
    display: flex;
    justify-content: space-evenly;
}

.letter {
    margin-right: 2em;
    margin-top: 2em;
    width: 90px;
    height: 50px;
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .number__pass {
        left: 0;
    }
}
